.about{
    width: 100%;
    min-height: calc(100vh - 70px);
    background-color: lighten($pink, 20%);
    @include flexColumn();
    justify-content: flex-start;
    padding: 20px 20%;
    color: white;

    .title{
        margin-bottom: 20px;
        z-index: 22;
    }
    .info{
        font-size: 1.2rem;
        line-height: 2rem;
        z-index: 22;
    }
}