$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$green: #20c997;
$pink: #d63384;
$light-blue: #0dcaf0;
$orange: #fd7e14;
$yellow: #ffc107;
$main: #02162e;
$dark-theme: #121212;
$color: #313131;
$red: #dc3545;

@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexColumn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@mixin flexStart{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@mixin flexEnd{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}