.navbar {
  width: 100%;
  height: 70px;
  background-color: #0d6efd;
  z-index: 2222;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbarPart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 20px;
}

.navbar .navLeft img {
  width: 130px;
  cursor: pointer;
}

.navbar .navMid {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.navbar .navMid a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar .navMid a:last-child {
  margin-right: 0;
}

.navbar .navMid a:hover {
  color: pink;
}

.navbar .navMid a.active {
  color: hotpink;
}

.navbar .navRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
}

.navbar .mobileMenuBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 20px;
  cursor: pointer;
  display: none;
}

.navbar .mobileMenuBtn .line {
  width: 100%;
  height: 5px;
  position: relative;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
  background-color: white;
  transition: .5s ease-in-out all;
}

.navbar .mobileMenuBtn .line::after, .navbar .mobileMenuBtn .line::before {
  content: "";
  position: absolute;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: .5s ease-in-out all;
}

.navbar .mobileMenuBtn .line::after {
  top: 15px;
}

.navbar .mobileMenuBtn .line::before {
  bottom: 15px;
}

.navbar .mobileMenuBtn .line.active {
  background-color: transparent;
}

.navbar .mobileMenuBtn .line.active::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .mobileMenuBtn .line.active::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar .mobileMenu {
  width: 90%;
  height: calc(100vh - 70px);
  position: absolute;
  top: 70px;
  left: 0px;
  background-color: #408cfd;
  z-index: 2222;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
  display: none;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.navbar .mobileMenu.active {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.navbar .mobileMenu a {
  text-decoration: none;
  color: white;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 2rem;
}

.navbar .mobileMenu a:last-child {
  margin-bottom: 0;
}

.navbar .mobileMenu a:hover {
  color: black;
}

.navbar .mobileMenu a.active {
  color: black;
}

.cartIcon {
  color: white;
  cursor: pointer;
}

@media (max-width: 800px) {
  .navbar .navMid {
    display: none;
  }
  .navbar .navLeft {
    display: none;
  }
  .navbar .mobileMenuBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .mobileMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .navRight {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    right: 0px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

.home {
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: #e788b7;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: white;
  padding: 10px 0;
}

.home .homeTitle {
  text-transform: uppercase;
  font-size: 5rem;
  margin-bottom: 40px;
  text-align: center;
  z-index: 22;
}

.home .homeMiniTitle {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 40px;
  text-align: center;
}

.home .swiper {
  width: 100%;
  margin-top: 30px;
  padding: 0 30px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .swiper .swiper-button-next {
  position: absolute;
  right: 0;
  top: 100px;
}

.home .swiper .swiper-button-prev {
  position: absolute;
  left: 0;
  top: 100px;
}

.home .swiper .swiper-slide {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home .swiper .swiper-slide .imageContainer {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .swiper .swiper-slide .imageContainer .contentContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.home .swiper .swiper-slide .imageContainer .contentContainer .homeIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  background-color: #d63384;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  margin: 20px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.home .swiper .swiper-slide .imageContainer .contentContainer .homeIconContainer:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #0d6efd;
}

.home .swiper .swiper-slide .imageContainer:hover .contentContainer {
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .swiper .swiper-slide .imageContainer .productImage {
  width: 70%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home .swiper .swiper-slide .title {
  color: #313131;
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .home .homeTitle {
    font-size: 3rem;
  }
  .home .homeMiniTitle {
    font-size: 1.5rem;
  }
}

.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: fixed;
  opacity: .5;
}

.products {
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: #e788b7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 40px 0;
}

.products .productsTitle {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 3rem;
  color: white;
}

.products .productsCategoryContainer {
  width: 100%;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.products .productsCategoryContainer .primaryBtn {
  margin: 20px;
}

.products .productsCategoryContainer .primaryBtn:last-child {
  margin-right: 0;
}

.products .productsContainer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 800px) {
  .products .productsTitle {
    font-size: 2.5rem;
    text-align: center;
  }
  .products .productsCategoryContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products .productsCategoryContainer .primaryBtn {
    margin: 10px;
    width: 80%;
  }
}

.product {
  width: 300px;
  height: 360px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.product .productImageContainer {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
}

.product .productImageContainer .productImage {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product .productTitle {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.3rem;
  color: #313131;
}

.product .productPrice {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: #313131;
}

.loading {
  width: 300px;
  height: 360px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.loading .loadingImage {
  width: 100%;
  height: 200px;
  background-color: #313131;
  -webkit-animation: skeleton 1s ease-in-out infinite alternate;
          animation: skeleton 1s ease-in-out infinite alternate;
  margin-bottom: 20px;
  border-radius: 15px;
}

.loading .loadingTitle {
  width: 100%;
  height: 20px;
  background-color: #313131;
  -webkit-animation: skeleton 1s ease-in-out infinite alternate;
          animation: skeleton 1s ease-in-out infinite alternate;
  border-radius: 15px;
  margin-bottom: 20px;
}

.loading .loadingPrice {
  width: 100%;
  height: 20px;
  background-color: #313131;
  -webkit-animation: skeleton 1s ease-in-out infinite alternate;
          animation: skeleton 1s ease-in-out infinite alternate;
  border-radius: 15px;
  margin-bottom: 20px;
}

.loading .loadingButton {
  width: 100%;
  height: 20px;
  background-color: #313131;
  -webkit-animation: skeleton 1s ease-in-out infinite alternate;
          animation: skeleton 1s ease-in-out infinite alternate;
  border-radius: 15px;
}

.detailsLoading {
  width: 100%;
  min-height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detailsLoading .detailsLoadingLeft {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detailsLoading .detailsLoadingLeft .leftImageContainer {
  width: 400px;
  height: 400px;
  background-color: #313131;
  -webkit-animation: skeleton 1s ease-in-out infinite alternate;
          animation: skeleton 1s ease-in-out infinite alternate;
  border-radius: 15px;
}

.detailsLoading .detailsLoadingRight {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}

.detailsLoading .detailsLoadingRight .rightTitle {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  background-color: #313131;
  -webkit-animation: skeleton 1s ease-in-out infinite alternate;
          animation: skeleton 1s ease-in-out infinite alternate;
  border-radius: 15px;
}

.detailsLoading .detailsLoadingRight .rightDesc {
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  background-color: #313131;
  -webkit-animation: skeleton 1s ease-in-out infinite alternate;
          animation: skeleton 1s ease-in-out infinite alternate;
  border-radius: 15px;
}

.detailsLoading .detailsLoadingRight .rightPrice {
  margin-bottom: 20px;
  width: 100%;
  height: 20px;
  background-color: #313131;
  -webkit-animation: skeleton 1s ease-in-out infinite alternate;
          animation: skeleton 1s ease-in-out infinite alternate;
  border-radius: 15px;
}

.detailsLoading .detailsLoadingRight .rightQuantity {
  margin-bottom: 20px;
  width: 100%;
  height: 20px;
  background-color: #313131;
  -webkit-animation: skeleton 1s ease-in-out infinite alternate;
          animation: skeleton 1s ease-in-out infinite alternate;
  border-radius: 15px;
}

.detailsLoading .detailsLoadingRight .rightButtonsContainer {
  width: 100%;
  height: 20px;
  background-color: #313131;
  -webkit-animation: skeleton 1s ease-in-out infinite alternate;
          animation: skeleton 1s ease-in-out infinite alternate;
  border-radius: 15px;
}

.homeLoading {
  width: 200px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.homeLoading .homeLoadingImage {
  background-color: #313131;
  -webkit-animation: skeleton 1s ease-in-out infinite alternate;
          animation: skeleton 1s ease-in-out infinite alternate;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.homeLoading .homeLoadingTitle {
  background-color: #313131;
  -webkit-animation: skeleton 1s ease-in-out infinite alternate;
          animation: skeleton 1s ease-in-out infinite alternate;
  margin-top: 20px;
  width: 100%;
  height: 20px;
  border-radius: 10px;
}

@-webkit-keyframes skeleton {
  to {
    opacity: .5;
  }
}

@keyframes skeleton {
  to {
    opacity: .5;
  }
}

@media (max-width: 800px) {
  .detailsLoading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .detailsLoading .detailsLoadingLeft {
    width: 100%;
    padding: 20px 0;
  }
  .detailsLoading .detailsLoadingLeft .leftImageContainer {
    width: 70%;
    height: 200px;
  }
  .detailsLoading .detailsLoadingRight {
    width: 100%;
  }
}

.productDetails {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #e788b7;
}

.singleProductDetails {
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: #e788b7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.singleProductDetails .singleProductDetailsLeft {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.singleProductDetails .singleProductDetailsLeft .singleProductImageContainer {
  width: 400px;
  height: 400px;
  background: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.singleProductDetails .singleProductDetailsLeft .singleProductImageContainer .singleProductImage {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.singleProductDetails .singleProductDetailsRight {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  color: white;
}

.singleProductDetails .singleProductDetailsRight .singleProductTitle {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.singleProductDetails .singleProductDetailsRight .singleProductDesc {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: lighter;
}

.singleProductDetails .singleProductDetailsRight .singleProductPrice {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
}

.singleProductDetails .singleProductDetailsRight .ButtonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.singleProductDetails .singleProductDetailsRight .ButtonsContainer .secondaryBtn {
  color: #0d6efd;
}

@media (max-width: 800px) {
  .singleProductDetails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .singleProductDetails .singleProductDetailsLeft {
    width: 100%;
    padding: 20px 0;
  }
  .singleProductDetails .singleProductDetailsLeft .singleProductImageContainer {
    width: 70%;
    height: 200px;
  }
  .singleProductDetails .singleProductDetailsRight {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .singleProductDetails .singleProductDetailsRight .singleProductTitle {
    font-size: 2rem;
    text-align: center;
  }
  .singleProductDetails .singleProductDetailsRight .singleProductPrice {
    font-size: 1.8rem;
  }
  .singleProductDetails .singleProductDetailsRight .ButtonsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.quantityButton {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
}

.quantityButton .quantityBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #313131;
}

.quantityButton .quantityAmount {
  height: 40px;
  width: 40px;
  border-radius: 15px;
  border: 1px solid #313131;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #313131;
}

.cart {
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: #e788b7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart .cartLeft {
  width: 70%;
  min-height: calc(100vh - 70px);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cart .cartLeft .myCart {
  margin-bottom: 20px;
  color: white;
}

.cart .cartRight {
  width: 30%;
  min-height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}

.cart .cartRight .totalCartContainer {
  width: 100%;
  background: #72abfe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  color: white;
  border-radius: 15px;
}

.cart .cartRight .totalCartContainer .priceText {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.cart .cartRight .totalCartContainer .priceText:last-child {
  margin-bottom: 0;
}

.cart .cartRight .totalCartContainer .btnsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.cart .cartRight .totalCartContainer .btnsContainer .secondaryBtn {
  border: 1px solid #dc3545;
  color: white;
  background: #dc3545;
}

.cart .cartRight .totalCartContainer .btnsContainer .secondaryBtn:hover {
  background: #bd2130;
}

@media (max-width: 800px) {
  .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .cart .cartLeft {
    width: 100%;
    min-height: auto;
  }
  .cart .cartRight {
    width: 100%;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}

.cartProduct {
  width: 100%;
  min-height: 200px;
  border-radius: 15px;
  background: #408cfd;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cartProduct .cartProductLeft {
  min-height: 200px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.cartProduct .cartProductLeft .cartProductImage {
  width: 70%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cartProduct .cartProductRight {
  width: 80%;
  min-height: 200px;
  background: #408cfd;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 30px 0px 20px;
}

.cartProduct .cartProductRight .cartProductTitle {
  margin-bottom: 20px;
}

.cartProduct .cartProductRight .cartProductPrice {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.cartProduct .iconContainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.cartProduct .iconContainer:hover {
  background: #dc3545;
}

@media (max-width: 800px) {
  .cartProduct .cartProductLeft {
    width: 30%;
  }
  .cartProduct .cartProductLeft .cartProductImage {
    width: 80%;
  }
  .cartProduct .cartProductRight .cartProductTitle {
    font-size: 1.2rem;
  }
  .cartProduct .cartProductRight .cartProductPrice {
    font-size: 1.2rem;
  }
}

.about {
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: #e788b7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 20%;
  color: white;
}

.about .title {
  margin-bottom: 20px;
  z-index: 22;
}

.about .info {
  font-size: 1.2rem;
  line-height: 2rem;
  z-index: 22;
}

.contact {
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: #e788b7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contactLeft {
  width: 50%;
  min-height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px;
  color: white;
}

.contact .contactLeft .leftTitle {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  z-index: 22;
}

.contact .contactLeft .leftText {
  margin-bottom: 20px;
  font-size: 1.2rem;
  z-index: 22;
}

.contact .contactLeft .leftSocialsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contactLeft .leftSocialsContainer .icon {
  margin-right: 10px;
  cursor: pointer;
  z-index: 22;
  color: #313131;
}

.contact .contactLeft .leftSocialsContainer .icon:hover {
  color: black;
}

.contact .contactLeft .leftSocialsContainer .icon:last-child {
  margin-right: 0;
}

.contact .contactRight {
  width: 50%;
  min-height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.contact .contactRight form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  z-index: 22;
}

.contact .contactRight form input {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.contact .contactRight form textarea {
  margin-bottom: 20px;
  padding: 10px;
  resize: none;
  width: 100%;
}

@media (max-width: 800px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contactLeft {
    width: 100%;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: auto;
  }
  .contact .contactLeft .leftTitle {
    font-size: 2rem;
  }
  .contact .contactRight {
    width: 100%;
    min-height: auto;
  }
  .contact .contactRight form {
    width: 90%;
  }
  .contact .contactRight form .primaryBtn {
    width: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.primaryBtn {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: 1px solid #0d6efd;
  color: white;
  cursor: pointer;
  background-color: #0d6efd;
  border-radius: 5px;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
  z-index: 22;
}

.primaryBtn:hover {
  background-color: #0143a3;
}

.secondaryBtn {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
}

.secondaryBtn:hover {
  background-color: #e6e6e6;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=GlobalStyle.css.map */