*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* width */
::-webkit-scrollbar{
    width: 10px;
  }
/* Track */
::-webkit-scrollbar-track{
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb{
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: #555; 
}

/* some nice colors */
:root{
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --green: #20c997;
    --pink: #d63384;
    --light-blue: #0dcaf0;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --main: #02162e;
    --dark-theme: #121212;
    --color: #313131;
    --red: #dc3545;
}